/* Flexbox: To-Do App

1. Start off by turning some of the elements into flex and inline-flex containers.

Turn elements with the class container and elements with the class square into flex containers.

Turn elements with the class week and elements with the class reminders into inline-flex containers.

To do this, add the display property with a value of either flex or inline-flex.

2. 
The elements inside the new inline-flex containers should grow to fill the container. This is accomplished using the flex-grow property:

Elements with the class week will get a flex-grow property with a value of 3.

Elements with the class reminders will get a flex-grow property with a value of 2.

3. We want the flex items with the class week to be ordered vertically, instead of horizontally.

Inside the .week ruleset, add a flex-direction property with the value that orders the items in a column.

4. We want the flex items with the class week to be ordered vertically, instead of horizontally.

Inside the .week ruleset, add a flex-direction property with the value that orders the items in a column.

5. The items with the class row also need some space:

Inside the .row ruleset, add a justify-content property with the value that adds space around each item.

Furthermore, the items with the class square need to be centered:

Inside the .square ruleset, add a justify-content property with the value that centers the items in the container.

6. Lastly, the elements with the class row and elements with the class square need to be aligned vertically:

Inside the rulesets for .row and .square, add the align-items property with the value that centers the items inside the container.

You did it! Great work. Now resize the browser to see your flex properties in action! */


/* Universal Styles */
body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

.secondary-background {
    background-color: snow;
}

.tagline {
    font-family: 'Quicksand', sans-serif;
    color: lightslategrey;
    line-height: 125px;
}

/* Header */
h1 {
    margin: 0;
    background-color: steelblue;
    line-height: 100px;
    color: khaki;
}

h2 {
    margin: 10px;
}

/* App Container */
.container {
    border: 2px solid snow;
    display: flex;
}

/* To Do Section */
.week {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 3;
}

.row {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.square {
    width: 125px;
    height: 125px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day.square {
    background-color: steelblue;
    border: 1px solid white;
}

.task.square {
    background-color: khaki;
    border: 1px solid white;
}

.task p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

/* Reminders */
.reminders {
    display: inline-flex;
    flex-grow: 2;
    background-color: khaki;
}

.reminders h3 {
    width: 100%;
    margin: 10px;
    color: black;
    line-height: 90px;
    font-size: 24px;
}

/* Footer */
footer {
    font-size: 24px;
}